

<h1>Readings</h1>

<a href="readings.csv">Download CSV</a>

<table>
  <thead>
    <tr>
    <th>Node_ID</th>
    <th>Temperature</th>
    <th>Humidity</th>
    <th>Recorded at</th>
    </tr>
  </thead>

  <tbody>
    <% @readings.each do |reading| %>
      <tr>
        <td><%= reading.node_id%></td>
        <td><%= reading.temperature%></td>
        <td><%= reading.humidity%></td>
        <td><%= reading.recorded_at%></td>
        <td><%= link_to 'Show', reading %></td>
        <td><%= link_to 'Destroy', reading, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
