<h1>Readings</h1>

<a href="readings.csv">Download CSV</a>

<%= form_tag do %>

  <%= check_box_tag(:tempAndHum, "Temp AND Humidity") %>
  <%= label_tag(:tempAndHum, "Compare temperature and humidity of a single sensor") %>

  <%= select_tag(:tempAndHum, options_for_select([['Temperature', 1],['Humidity', 2]]))%>

  <p hidden><%=
    sensorQuery = Reading.select(:node_id).distinct.to_a
    sensorArray = Array.new

    i = 1
    sensorQuery.each do |tuple|
      newEntry = [tuple.node_id, i]
      sensorArray.push(newEntry)
      i += 1
    end
  %></p>

  Choose your sensors
  <%= check_box_tag(:all, "All") %>
  <%=  label_tag(:all, "All sensors") %>

  <p hidden><%= for i in 1..sensorArray.length do %>
    <%= parameter = ":" << i %></p>
    <%= check_box_tag(parameter, i) %>
    <%= label_tag(parameter, i) %>
  <% end %>

  <%= date_select(:startDate, "Start Date") %>
  <%= label_tag(:startDate, "Start") %>
  <%= date_select(:endDate, "End Date") %>
  <%= label_tag(:startDate, "End") %>
  
<% end %>

<table>
  <thead>
    <tr>
    <th>Node_ID</th>
    <th>Name</th>
    <th>Temperature</th>
    <th>Humidity</th>
    <th>Recorded at</th>
    </tr>
  </thead>

  <tbody>
    <% @readings.each do |reading| %>
      <tr>
        <td><%= reading.node_id%></td>
        <td><%= reading.name%></td>
        <td><%= reading.temperature%></td>
        <td><%= reading.humidity%></td>
        <td><%= reading.recorded_at%></td>
        <td><%= link_to 'Show', reading %></td>
        <td><%= link_to 'Destroy', reading, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>