<h1>Readings</h1>

<a href="readings.csv">Download CSV</a>

NEED TO FIX THIS FORM
<%= form_tag("", method: "post") do %>

  <h2> Specify date range </h2>
  <%= label_tag(:startDate, "Start Date") %>
  <%= date_select(:startDate, "Start Date") %>
  </br>
  <%= label_tag(:startDate, "End Date") %>  
  <%= date_select(:endDate, "End Date") %>
  </br>
  <%= submit_tag("Filter") %>
  
<% end %>

<table class="table table-bordered">
<h2>Readings for the given date range</h2>
  <thead>
    <tr>
    <th>Node_ID</th>
    <th>Name</th>
    <th>Temperature</th>
    <th>Humidity</th>
    <th>Recorded at</th>
    </tr>
  </thead>

  <tbody>
    <% @readings.each do |reading| %>
      <tr>
        <td><%= reading.node_id%></td>
        <td><%= reading.name%></td>
        <td><%= reading.temperature%></td>
        <td><%= reading.humidity%></td>
        <td><%= reading.recorded_at%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>