<p id="notice"><%= notice %></p>

<!-- <script src="application.js"></script> -->

<h1>Readings</h1>

<table>
  <thead>
    <tr>
    <th>Node_ID</th>
    <th>Pin</th>
    <th>Temperature</th>
    <th>Humidity</th>
    <th>Recorded at</th>
    </tr>
  </thead>

  <tbody>
    <% @readings.each do |reading| %>
      <tr>
        <td><%= reading.node_id%></td>
        <td><%= reading.pin%></td>
        <td><%= reading.temperature%></td>
        <td><%= reading.humidity%></td>
        <td><%= reading.recorded_at%></td>
        <td><%= link_to 'Show', reading %></td>
        <td><%= link_to 'Destroy', reading, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= line_chart Reading.pluck(:recorded_at, :temperature), xtitle: "Time", ytitle: "Temperature" %>
<%= line_chart Reading.group_by_day(:recorded_at).count %>





<br>
