Welcome

<style>
h2{
  padding: 20px;
}
 div.userinfo{
   padding: 20px;
 }
 
</style>
<head>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in BLAH BLAH BLAH</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
      <p> Why isn't this showing up?</p>
      <!-- This is to print out the token if it was created -->
      <%= current_user.email %>



      <p>Below are the tokens sent </p>


<h2> Account Info: </h2>

<div class = "userinfo", style="display: inline-block">
<%= current_user.email %> </div>
<


<h1>Tokens created</h1>
<body>
  <div id="header">
    <% if signed_in? -%>
      <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
    <% else -%>
      <%= link_to t(".sign_in"), sign_in_path %>
    <% end -%>
  </div>

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>

  <%= yield %>
<br>
    </div> <!-- /container -->