<%= form_for :session, url: session_path do |form| %>
<div class="container">
        <h2> Temperature and Humidity Sensors </h2>
</div>
  
<div class="container">    
      <h1>Welcome</h1>
      <p>Here are the readings of the day</p>
      <hr>
      <div class="row">
        <div class="col-md-6">
            <div class="box">
            Total Sensors: <%= @totalSensors %>
            </div>
        </div>
        <div class="col-md-6-offset-6">
            <div class="box">
            Total Readings:<%= @totalReadings %>
            </div>
        </div>
    </div>
<hr>
  <div class="row">
        <div class="col-md-6">
            <div class="box">
            Last Temperature: <%= @lastTemp %>
            </div>
         </div>
        <div class="col-md-6-offset-6">
            <div class="box">
            Last Humidity: <%= @lastHum %>
            </div>
        </div>
  </div>
</div>
<% end %> 
