
<p id="notice"><%= notice %></p>

<script src="application.js"></script>

<h1>Graph</h1>
<div align="right"><p>Download Button Below</p></div>

<div id="graph">

  <p hidden><%= values = Reading.select(:recorded_at, :temperature, :humidity).where(pin: 3).to_a%></p>

  <%=
      tempValues = Array.new

      values.each do |tuple|
        newReading = [tuple.recorded_at, tuple.temperature]

        tempValues.push(newReading)
      end
  %>

  <%=
      humValues = Array.new

      values.each do |tuple|
        newReading = [tuple.recorded_at, tuple.humidity]

        humValues.push(newReading)
      end
  %>



  <%= line_chart tempValues,
  		title: "Daily Measurement",
  		xtitle: "Time",
  		ytitle: "Temperature (F)",
  		legend: true,
  		legend: "bottom",
  		download: true
   %>

  <%= line_chart tempValues,
      title: "Daily Measurement",
      xtitle: "Time",
      ytitle: "Humidity (%)",
      legend: true,
      legend: "bottom",
      download: true
   %>

</div>
